<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42100852079-l6vrldfhabors96j8b2g65u4fe46gdmv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42100852079-l6vrldfhabors96j8b2g65u4fe46gdmv</string>
	<key>API_KEY</key>
	<string>AIzaSyCuI9knefXEWysr5TRmMoK59YL_vT_jniw</string>
	<key>GCM_SENDER_ID</key>
	<string>42100852079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elvis.web</string>
	<key>PROJECT_ID</key>
	<string>web-elvis-com</string>
	<key>STORAGE_BUCKET</key>
	<string>web-elvis-com.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42100852079:ios:18eb8ccf36b358d20b549a</string>
</dict>
</plist>